h3{
  text-align: center;
  align-self: center;
  margin-top: 3%;
}

button.btn{
  margin: auto 0;
}

.footer{
  align-self: stretch;
  margin: 0 0 15px 15px;
  
 > img{
    height: 67px;
    width: 200px;
  }
}

app-role-selection, app-enter-username{
  margin: auto 0;
}